<div class="chat-container" [class.fontSizeSmall]="fontSizeBig">
  <div class="header">
    TOTO
  </div>
  <div class="chat" ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <ng-container  class="chat" *ngFor="let message of messages | async">

      <div  class="message" [ngClass]="{'bot': message.sentBy === 'bot',
                      'user': message.sentBy === 'user'}">

        {{message.content}}
      </div>

    </ng-container>
  </div>
  <footer class="block-input">
    <button class="button-font" [class.fontSizeSmall] (click)="changeFontSize()">+ grand</button>
    <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="taper votre message ici">
    <button class="button" (click)="sendMessage()">Envoyer</button>
  </footer>
</div>
